{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}حذف مقاله{% endblock title-meta %}{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">حذف مقاله</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2">آیا از حذف مقاله &nbsp; «{{object}}» &nbsp; از &nbsp; «{{object.author.get_full_name}}» &nbsp; مطمئن هستید؟</p>
                <input class="btn btn-danger" type="submit" value="حذف">
            </form>            
        </div>
    </div>
</div>
    
{% endblock %}