{% load comment_tags %}
{% load i18n %}
<section id="comments" class="{% block comment_section_cls %}my-5 mx-3{% endblock comment_section_cls %}">
    <script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
    <strong class="border-bottom bb"><span class="js-comment-number">{% get_comments_count model_object user %}</span><span class="comment-translatable"> {% trans "دیدگاه" %}</span></strong>
    {% block comment_messages %}
    {% include "comment/comments/messages.html" %}
    {% endblock comment_messages %}
    <hr class="hr"/>
    <div class="js-comment comment mb-5">
        {% include 'comment/comments/create_comment.html' with placeholder="دیدگاه خود را بنویسید ..." comment=None %}
    </div>
    <div class="js-main-comment mt-5">
      {% for comment in comments %}
          {% include 'comment/comments/parent_comment.html' with placeholder='پاسخ خود را بنویسید ...' %}
      {% endfor %}
    </div>

    <div class="comment-modal" id="Modal">
      <div class="comment-modal-dialog" role="document">
        <div class="comment-modal-content">
        </div>
      </div>

    </div>
    {% if allowed_flags %}
        {% include "comment/flags/flag_modal.html" %}
    {% endif %}
    {% if comments.paginator.num_pages > 1 %}
    {% block pagination %}
    {% include 'comment/comments/pagination.html' with active_btn='bg-success' text_style='text-success' li_cls='page-item rounded mx-1' %}
    {% endblock pagination %}
    {% endif %}
</section>
