{% load i18n %}
<p class="js-comment-content {% block c_text_cls %}mb-0{% endblock c_text_cls %}">
    {% block comment_urlhash %}
    {% include "comment/comments/urlhash.html" with urlhash=urlhash %}
    {% endblock comment_urlhash %}
    {% if text_2 %}
        {{ text_1 }}
        <span class="d-none">{{ text_2 }}</span>
        <button class="js-read-more-btn btn btn-link btn-xs" style="font-size: 14px">{% trans "مطلب بیشتر" %}...</button>
    {% else %}
        {{ text_1 }}
    {% endif %}
</p>
