@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
  }

@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam-Bold.woff') format('woff'),
         url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

body {
    direction: rtl;
    text-align: right;
    font-family: "Shabnam";
    font-weight: bold;
    font-size: 14px;
}

.navbar-nav.ml-auto {
    margin-left: initial !important;
    margin-right: auto;
}
.post-meta {
    text-align: left;
}

.pager-button {
    float: left !important;
}

header.masthead .site-heading h1 {
    font-size: 40px;
}

.post-title {
    font-size: 27px !important;
}

.post-subtitle {
    font-size: 18px !important;
}


.nav ul {
    padding-right: 0;
}

.nav ul li {
    border-bottom: none;
    height: 86px;
    line-height: 86px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 0 auto;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    transition: .3s background-color;
    padding: 0 24px;
}

.nav ul li a:hover {
    background-color: #5c89c7;
    color: #FFFFFF;
}

.nav a {
    border-bottom: none;
}

.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav li:hover ul {
    display: block;
}

.nav ul li ul li {
    display: block;
    float: none !important;
    height: auto;
    line-height: 34px;
}

.nav ul li ul li ul {
    position: absolute;
    right: 100%;
    top: 0;
    display: none !important;
}

.nav ul > li > ul > li:hover > ul {
    display: block !important;
}

.nav ul > li > ul > li > ul > li:hover > ul {
    display: block !important;
}

aside {
    position : absolute;
    width: 230px;
    left : -230px;
    top : 0;
}

.popular_articles {
    border : 1px solid #bfbfbf;
    border-radius : 5px;
    padding : 15px;
    margin-bottom: 20px;
    box-shadow: -5px 5px #d5d5d5;
}