@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam-Bold.woff') format('woff'),
         url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }


body {
    text-align : right !important;
    direction : rtl !important;
    font-family : 'Shabnam' !important;
    font-weight: bold !important;
}

.myfont, .focus-input100::after {
    font-family : 'Shabnam' !important;
}

.btn-show-pass {
    left: 0;
    right: initial;
}

.errors {
    color:red;
    background-color:#fbd4d4;
    padding: 20px 30px;
}