{% extends 'blog/base.html' %}
{% load static %}
{% load ratings %}
{% load comment_tags %}
{% load humanize %}
{% load base_tags %}


{% block custom_css %} 
<link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
{% endblock %}


{% block title %} {{ object.title }} {% endblock title %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ object.title }}</h1>
            {{ object.publish | naturaltime }}
            {% if article.is_special %}
              <p><span class="badge badge-danger" style="font-size:30px;">ویژه</span></p>
            {% endif %}
            <div>
              {% ratings object %}
            </div>
            <div>
              تعداد بازدید ها : {{object.hits.count}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

 <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
          <aside>
            {% popular_articles %}
            {% hot_articles %}
          </aside>
          {% if object.is_special %}
            {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
              {{object.description|safe}}
            {% else %}
              {{article.description|striptags|truncatewords:35}}
              <p class="alert alert-warning text-center">این یک مقاله ویژه می‌باشد! برای مشاهده آن، باید <a class="alert-link" href="#" style="color: dodgerblue;"> اشتراک ویژه </a>تهیه کنید.</p>
            {% endif %}
          {% else %}
            {{object.description|safe}}
          {% endif %}
          {% render_comments object request %}
          {% include_bootstrap %}
          {% include_static %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}